.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 100;
}

.logo {
  color: red;
  font-weight: bold;
}

.profile {
  color: white;
}
